body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    /* Center alignment for container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

#product_info {
    margin-bottom: 20px;
    text-align: center;
}

#product_name, #product_price {
    font-size: 18px;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.purchase-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.purchase-list-header {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
